.idea
.DS_Store
log/*.*
tmp/**/*
db/*.sqlite3
coverage/
db/schema.rb
public/javascripts/tiny_mce
public/stylesheets/application.css
config/database.yml
config/initializers/email_notification.rb
config/initializers/global_settings.rb
rerun.txt
config/deploy.rb
Capfile
